@font-face { 
  font-family: Droid Sans; 
    src: url('../../../../../../../../css3_responsive/fonts/DroidSans-webfont.eot');
    src: local("Droid Sans"), url('../../../../../../../../css3_responsive/fonts/DroidSans-webfont.woff');
} 

@font-face { 
  font-family: News Cycle; 
    src: url('../../../../../../../../css3_responsive/fonts/NewsCycle-Regular.eot');
    src: local("News Cycle"), url('../../../../../../../../css3_responsive/fonts/NewsCycle-Regular.ttf');
} 

body {
	background: #FFF;
	color: #1D1D1D;
    font: normal .90em 'Droid Sans', arial, sans-serif;
	line-height: 2em;
}

p { 
  padding: 0 0 16px 0;
  line-height: 1.7em;
}

img { 
  border: 0;
}

h1, h2, h3, h4, h5, h6 { 
  color: #000;
  letter-spacing: 0em;
  padding: 0 0 0.5em 0;
}

h1, h2, h3 { 
  font: bold 140% 'News Cycle', arial;
  margin: 0 0 1em 0;
  padding: 0em 0 0.5em 0;
  color: #2EC0FF;
}

h2 { 
  font-size: 160%;
}

h3 { 
  font-size: 140%;
  padding: 0.5em 0 0 0;
}

h4, h5, h6 { 
  padding: 0 0 0.5em 0;
  font: normal 120% 'Droid Sans', arial, sans-serif;
  color: #000;
}

a, a:hover { 
  outline: none;
  text-decoration: none;
  color: #2EC0FF;
}

a:hover { 
  text-decoration: underline;
}

blockquote { 
  margin: 2em 0; 
  padding: 1em 2em 0 2em;
  border: 1px solid #E5E5DB;
  background: #FFF;
}

ul { 
  margin: 0.1em 0 1em 2em;
}

ul li { 
  list-style-type: circle;
  margin: 0 0 0.25em 0; 
  padding: 0 0 0.25em 0.5em;
  line-height: 1.5em;
}

ol { 
  margin: 0.1em 0 2em 2em;
}

ol li { 
  margin: 0 0 0.5em 0; 
}

.left { 
  float: left;
  width: auto;
  margin-right: 1em;
}

.right { 
  float: right; 
  width: auto;
  margin-left: 1em;
}

.center { 
  display: block;
  text-align: center;
  margin: 2em auto;
}

#header_container {
  background: #1D1D1D;
}

#header h1 a { 
  font: normal 200% 'News Cycle', arial, sans-serif;
  border-bottom: 0;
  text-transform: none;
  margin: 0;
  color: #FFF;
  text-decoration: none;
}

#header h2 { 
  font: normal 150% 'News Cycle', arial, sans-serif;
  border-bottom: 0;
  text-transform: none;
  margin: 0;
  color: #FFF;
}

#header h1 a .header_colour { 
  color: #2EC0FF;
}

#header a:hover .header_colour { 
  color: #FFF;
}

#header h2 { 
  font-size: 140%;
  padding: 0 0 0 0;
  margin-top: -1em;
  color: #FFF;
}

.button {
	border-radius: 0.5em;
	box-shadow: inset 0 0 0 2px rgba(255,255,255,0.5);
	color: #369ab8;
	color: #fff;
	display: inline-block;
	text-decoration: none;
}

#main-nav ul { 
    font: normal 120% 'News Cycle', arial;
	float: right;
	list-style: none;
	margin-top: 3.7em;
	padding: 0; 
}

#main-nav ul li { 
	display: inline-block; 
	margin: 0 1em 0 1em; 
	padding: 0.35em 0em 0.35em 0em; 
	border-radius: 0.5em; 
}

#main-nav ul li.active { 
}

#main-nav ul li a.active { 
	color: #fff; 
	text-decoration: none; 
}

#banner {
	color: #fff;
	text-align: center;
	-moz-box-shadow: rgba(0, 0, 0, 0.5)  0px 3px 5px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 5px;
	box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 5px;
}

#site_content {
    margin-bottom: 2em;
}

#sidebar {
    margin-bottom: 2em;
	background: #F5F5F5;
	padding: 1em 1em 1em 2em;
	-moz-box-shadow: rgba(0, 0, 0, 0.5)  0px 3px 5px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 5px;
	box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 5px;	
}

#footer_container {
	background: #000;
}

footer { 
  font: 100% 'Droid Sans', arial, sans-serif;
  text-align: center; 
  color: #FFF;
  margin: 0;
}

footer p { 
  line-height: 1.7em;
}

footer a { 
  color: #FFF;
  text-decoration: none;
}

footer a:hover { 
  color: #FFF;
  text-decoration: underline;
}

/* A single menu */
.dropotron { 
	background: #1D1D1D; 
	border-radius: 0.5em; 
	list-style: none; 
	margin: 0; 
	min-width: 10em; 
	padding: 0.75em 1em 0.75em 1em; 
}
			
.dropotron > li { 
	border-top: solid 1px #555;
	margin: 0;
	padding: 0;
}

.dropotron > li:first-child { 
	border-top: 0;
}
			
.dropotron > li > a { 
	color: #FFF; 
	display: block; 
	padding: 0.5em 0 0.5em 0; 
	text-decoration: none; 
}

.dropotron > li.active > a, .dropotron > li:hover > a {
	color: #2EC0FF;;
}

/* Only applies to top level ("level-0") menus */
.dropotron.level-0 { 
	margin-top: 1.25em;
}

.dropotron.level-0:before {
	content: ''; 
	position: absolute; 
	border-bottom: solid 0.5em #444; 
	border-left: solid 0.5em transparent;
	border-right: solid 0.5em transparent; 
	top: -0.5em; 
}

nav select {
  display: none;
}
 
@media (max-width: 480px) {
  nav ul     { display: none; }
  nav select { display: inline-block;}
}  

.form_settings { 
	margin: 1em 0 0 0;
}

.form_settings p {
	padding: 0 0 0.25em 0;
}

.form_settings span {
	float: left; 
	width: 22em; 
	text-align: left;
}
  
.form_settings input, .form_settings textarea {
	padding: 0.25em; 
	width: 20em; 
	font: 100% arial; 
	margin-bottom: 1em;
	border: 1px solid #bbb; 
	background: #FFF; 
	color: #47433F;
}
  
.form_settings input[type="checkbox"] {
	padding: 0; 
	width: 2em; 
	font: 100% arial; 
	border: 0; 
	background: #FFF; 
	color: #47433F;
}

.form_settings .submit { 
	font-family: 'Source Sans Pro';
	font-weight: 700;
	border: 1px solid; 
	width: 6em; 
	margin: 0 0 0 14em; 
	height: 2em;
	cursor: pointer; 
	background: #0183F0;
	background: -moz-linear-gradient(#0183F0, #3B5998);
	background: -o-linear-gradient(#0183F0, #3B5998);
	background: -webkit-linear-gradient(#0183F0, #3B5998);
	border-radius: 5px;
	color: #FFF;
}
  
.form_settings .submit:hover {
	background: #3B5998;
	background: -moz-linear-gradient(#3B5998, #0183F0);
	background: -o-linear-gradient(#3B5998, #0183F0);
	background: -webkit-linear-gradient(#3B5998, #0183F0);
}

table { 
  margin: 1em 0 3em 0;
}

table tr th, table tr td { 
  background: #BBB;
  color: #FFF;
  padding: 0.75em 0.5em;
  text-align: left;
}
  
table tr td { 
  background: #DDD;
  color: #47433F;
  border-top: 1px solid #FFF;
}

selector {
  border-top-width: medium; border-top-style: solid;
}

.refuse {
     display: block;
     width: 100%;
     color: red;
    text-align: center;
 }

.approve {
    display: block;
    width: 100%;
    color: green;
    text-align: center;
}